<app-nav
[ruta]="'inicio'"
[mensaje]="t_Regresar"
></app-nav>

{{obtenerContadores('trasaccion')}} <br>
{{obtenerContadores('sesion')}}


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-modal></app-modal>
    </div>
  </div>
</div>

<div class="menu" [hidden]="registrar">
    <form>
        <h1>{{titulo}}</h1>
        <input type="text" [placeholder]="t_user" [(ngModel)]="ingresoInfo.user" (focus)="capturarActividad('trasaccion')" name="something"> <br><br>
        <input type="password" [placeholder]="t_pass" [(ngModel)]="ingresoInfo.pass" (focus)="capturarActividad('trasaccion')" name="something"><br><br>
        <button class="btn btn-light color" type="submit" style="width: 100%;" (click)="ingresar()" 
        (keypress)="onKeypressEvent($event)">{{t_in}}</button><br><br>
        <button type="button" class="btn btn-light" (click)="irRegistro()" style="width: 100%;">{{t_reg}}</button><br><br>
    </form>
</div>

<div class="menu" [hidden]="!registrar">
    <form>
        <h1>{{titluo2}}</h1>
        <div class="row">
            <div class="col-6">
                
                <input type="text" [placeholder]="t_datos.nombre"  [(ngModel)]="datos.nombre" (focus)="capturarActividad('trasaccion')" name="something"> <br><br>
            </div>
            <div class="col-6">
                <input type="number" [placeholder]="t_datos.cedula" [(ngModel)]="datos.cedula" (focus)="capturarActividad('trasaccion')" name="something"><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" [placeholder]="t_datos.apellido" [(ngModel)]="datos.apellido" (focus)="capturarActividad('trasaccion')" name="something"> <br><br>
            </div>
            <div class="col-6">
                <input type="text" [placeholder]="t_datos.direccion" [(ngModel)]="datos.direccion" (focus)="capturarActividad('trasaccion')" name="something"> <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="email" [placeholder]="t_datos.correo" [(ngModel)]="datos.correo" (focus)="capturarActividad('trasaccion')" name="something"> <br><br>
            </div>
            <div class="col-6">
                <input type="text" [placeholder]="t_datos.provincia" [(ngModel)]="datos.provincia" (focus)="capturarActividad('trasaccion')" name="something"><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" [placeholder]="t_datos.pais" [(ngModel)]="datos.pais" (focus)="capturarActividad('trasaccion')" name="something"> <br><br>
            </div>
            <div class="col-6">
                <select  [(ngModel)]="datos.genero" (focus)="capturarActividad('trasaccion')" name="something">
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                    <option value="na">Sin Especificar</option>
                  </select><br><br>
            </div>
        </div>
     
        <div class="row">
            <div class="col-6">
                <select [(ngModel)]="datos.sangre" (focus)="capturarActividad('trasaccion')" name="something">
                    <option value="o">O</option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="ab">AB</option>
                  </select><br><br>
            </div>
            <div class="col-6">
                <input type="number" [placeholder]="t_datos.altura" [(ngModel)]="datos.altura" (focus)="capturarActividad('trasaccion')" name="something"><br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <input type="number" [placeholder]="t_datos.telefono" [(ngModel)]="datos.telefono" (focus)="capturarActividad('trasaccion')" name="something"> <br><br>
            </div>
            <div class="col-6">
                <input type="number" [placeholder]="t_datos.celular" [(ngModel)]="datos.celular" (focus)="capturarActividad('trasaccion')"  name="something" ><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" [placeholder]="t_datos.usuario" [(ngModel)]="datos.usuario" (focus)="capturarActividad('trasaccion')"  name="something"> <br><br>
            </div>
            <div class="col-6">
                <input type="password" [placeholder]="t_datos.clave" [(ngModel)]="datos.clave" (focus)="capturarActividad('trasaccion')"  name="something"> <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <input type="number" [placeholder]="t_datos.peso" [(ngModel)]="datos.peso" (focus)="capturarActividad('trasaccion')"  name="something"> <br><br>
            </div>
            <div class="col-6">
                <input type="password" placeholder="REPETIR CLAVE" [(ngModel)]="CLAVE" (focus)="capturarActividad('trasaccion')"  name="something"> <br><br>  
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" style="width: 100%;" data-toggle="modal" data-target=".bd-example-modal-lg">{{t_comp}}</button><br><br>
                <button class="button" class="btn btn-light" style="width: 100%;"type="submit" (click)="GUARDAR()">{{t_guard}}</button><br><br>
                <button type="button" class="btn btn-light" style="width: 100%;" (click)="irRegistro()" >{{t_in}}</button><br><br>        
            </div>
        </div>
      </form>
</div>

