<app-nav [ruta]="'login'" [mensaje]="titulo"></app-nav>
<div class="row principal">
    <img src="./../../assets/inicio.jpg">
</div>
<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            
            <img class="card-img-top" src="./../../assets/flor.jpg" alt="Card image cap" height="200rem">
            <div class="card-body">
              <h5 class="card-title">{{ej}}</h5>
              <p class="card-text">{{msm}}</p>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./../../assets/flor.jpg" alt="Card image cap" height="200rem">
            <div class="card-body">
              <h5 class="card-title">{{ej}}</h5>
              <p class="card-text">{{msm}}</p>
            </div>
          </div>
    </div>
    <div class="col-4">

    </div>
</div>

<app-chatbox></app-chatbox>