<app-nav [ruta]="'login'" [mensaje]="'Inicio Sesión'"></app-nav>
<div class="row principal">
    <img src="./../../assets/inicio.jpg">
</div>
<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            
            <img class="card-img-top" src="./../../assets/flor.jpg" alt="Card image cap" height="200rem">
            <div class="card-body">
              <h5 class="card-title">Ejemplo</h5>
              <p class="card-text">Some quick example text to build on the Ejemplo and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./../../assets/flor.jpg" alt="Card image cap" height="200rem">
            <div class="card-body">
              <h5 class="card-title">Ejemplo 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-4">

    </div>
</div>

<app-chatbox></app-chatbox>